
<!DOCTYPE html>
<html>
<head>
	<title>{{username}} blog</title>
</head>
<body>
	<h1>you are logged in as {{username}} : blogs post</h1>

	<hr>
	<div>
		<a href="/blog/newpost">New Post</a>
	</div>
	<br>
		<div>
		<a href="/logout">Logout</a>
	</div>

	<hr>
	{% for post in posts:%}
	<div>
		<div>
			post id: {{post.key().id()}}
		</div>
		<div>
			username: {{post.username}}
		</div>
		<div>
			subject: {{post.subject}}
		</div>
		<pre>
			content: {{post.content}}
		</pre>

		{% if post.username == username %}
		<div>
			<a href="/blog/edit?id={{post.key().id()}}">edit</a>
		</div>
		<div>
			<a href="/blog/delete?id={{post.key().id()}}">delete</a>
		</div>
		<br>
		{% endif %}
		<div>
			{% for post_liked in post.liked_by:%}
			{% if post_liked == username: %}
			{% set find = "true" %}
			<a href="/blog/like?id={{post.key().id()}}">Unlike</a>
			{% endif %}
			{% endfor %}
			{% if not post.liked_by or find == "true": %}
			<a href="/blog/like?id={{post.key().id()}}">Like</a>
			{% endif %}
			<br>
			number of likes: {{post.liked_by|length}}
		</div>
		<br>
		<div>
			COMMENTS:
			<br>
			{% for comment in post.comments:%}
				{{comment}}
				<br>
			{% endfor %}
			<br>
			<a href="/blog/comment?id={{post.key().id()}}">Add Comment</a>
		</div>
		<br>
	</div>
	<hr>
	{% endfor %}

</body>
</html>