
<!DOCTYPE html>
<html>
<head>
	<title>{{username}} post</title>
</head>
<body>
	<h1>{{username}}'s post</h1>

	<div>
		<div>
			id: {{id}}
		</div>
		<div>
			subject: {{subject}}
		</div>
		<pre>
			content: {{content}}
		</pre>
	</div>

	<div>
	<form method="post">
	<label>
		<div>comment</div>
		<textarea style="min-height: 100px; min-width: 300px" name="comment">
		{{comment}}
		</textarea>
	</label>

	<input type="submit">
	</form>
	<br>
	</div>
	<div>
		<a href="/blog">Back to BLOG</a>
	</div>
</body>
</html>